In [2]:
import pandas as pd
import datetime as dt
import numpy as np
import requests
import json
import math

C:\Users\juan-\AppData\Local\Temp\ipykernel_22892\2784272662.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv("Dati_sensori_meteo_20240209.csv")
df

          IdSensore                    Data  Valore  idOperatore Stato
0             14784  11/18/2023 06:50:00 PM   327.0            1    VA
1             14784  11/18/2023 07:00:00 PM   328.0            1    VA
2             14784  11/18/2023 07:10:00 PM   330.0            1    VA
3             14784  11/18/2023 07:20:00 PM   330.0            1    VA
4             14784  11/18/2023 07:30:00 PM   329.0            1    VA
...             ...                     ...     ...          ...   ...
37780091       5861  02/02/2024 11:00:00 PM     0.0            4    VA
37780092       5861  02/02/2024 11:10:00 PM     0.0            4    VA
37780093       5861  02/02/2024 11:20:00 PM     0.0            4    VA
37780094       5861  02/02/2024 11:30:00 PM     0.0            4    VA
37780095       5861  02/02/2024 11:40:00 PM     0.0            4    VA

[37780096 rows x 5 columns]

In [4]:
# select columns
df = df[['IdSensore', 'Data', 'Valore', "idOperatore", "Stato"]]

# fix datetime
df['Data'] = pd.to_datetime(df['Data'], format="%m/%d/%Y %I:%M:%S %p", errors="coerce") #01/01/2023 12:00:00 AM

# Nulling stations that do not exist
df['Stato'].replace(np.nan, 'NA')

# fix values that break everything...
df['Stato'] = df['Stato'].replace(np.nan, 'NA')
df['Valore'] = df['Valore'].replace(-999.0, -9999.0)
df['Valore'] = df['Valore'].replace(999.0, -9999.0)
df['Valore'] = df['Valore'].replace(-777.0, 777.0)

In [5]:
df
#df.loc[df["Data"].dt == date(7,11,2023)]
#07/11/2023
#641363 with invalid status

          IdSensore                Data  Valore  idOperatore Stato
0             14784 2023-11-18 18:50:00   327.0            1    VA
1             14784 2023-11-18 19:00:00   328.0            1    VA
2             14784 2023-11-18 19:10:00   330.0            1    VA
3             14784 2023-11-18 19:20:00   330.0            1    VA
4             14784 2023-11-18 19:30:00   329.0            1    VA
...             ...                 ...     ...          ...   ...
37780091       5861 2024-02-02 23:00:00     0.0            4    VA
37780092       5861 2024-02-02 23:10:00     0.0            4    VA
37780093       5861 2024-02-02 23:20:00     0.0            4    VA
37780094       5861 2024-02-02 23:30:00     0.0            4    VA
37780095       5861 2024-02-02 23:40:00     0.0            4    VA

[37780096 rows x 5 columns]

In [18]:
stations_df

,IdSensore,Tipologia,Unità DiMisura,IdStazione,NomeStazione,Quota,Provincia,DataStart,DataStop,Storico,UTM_Nord,UTM_Est,lng,lat,location
0,22006,Umidità Relativa,%,1890,Tavernole sul Mella Monte Guglielmo,1790,BS,14/10/2019,NaN,N,5067376,591417,10.175407,45.753896,"(45.75389593743312, 10.175407094582125)"
1,22007,Direzione Vento,°,1890,Tavernole sul Mella Monte Guglielmo,1790,BS,14/10/2019,NaN,N,5067376,591417,10.175407,45.753896,"(45.75389593743312, 10.175407094582125)"
2,22003,Temperatura,°C,1890,Tavernole sul Mella Monte Guglielmo,1790,BS,14/10/2019,NaN,N,5067376,591417,10.175407,45.753896,"(45.75389593743312, 10.175407094582125)"
3,22009,Velocità Vento,m/s,1890,Tavernole sul Mella Monte Guglielmo,1790,BS,14/10/2019,NaN,N,5067376,591417,10.175407,45.753896,"(45.75389593743312, 10.175407094582125)"
4,17612,Altezza Neve,cm,1545,San Siro Alpe Rescascìa,1285,CO,07/11/2019,NaN,N,5102069,518430,9.238323,46.071947,"(46.071947417956004, 9.238323435918229)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1243,10787,Velocità Vento,m/s,1266,Bertonico v.Moro,65,LO,12/04/2022,NaN,N,5009105,552297,9.666250,45.233494,"(45.23349364130374, 9.666250375296032)"
1244,19024,Radiazione Globale,W/m²,1422,Bergamo v.Maffei,249,BG,06/11/2013,NaN,N,5060404,552526,9.674653,45.695197,"(45.6951969397896, 9.674652773656335)"
1245,7048,Velocità Vento,m/s,695,Ponti sul Mincio v.San Martino,113,MN,19/12/2006,03/03/2021,S,5030184,631718,10.683357,45.412772,"(45.41277169168634, 10.683357343786835)"
1246,6990,Radiazione Globale,W/m²,679,Valmadrera v.Pozzi,247,LC,02/02/2006,NaN,N,5076576,527307,9.351658,45.842207,"(45.842207261022544, 9.351658166127958)"
1247,2595,Temperatura,°C,205,Montevecchia cascina Butto,385,LC,06/10/2014,NaN,N,5061321,529882,9.383875,45.704798,"(45.70479776881362, 9.383874990148637)"

In [13]:
unique_in_data = list(df.IdSensore.unique())

stations_df = pd.read_csv("Stazioni_Meteorologiche.csv")
unique_in_stations = list(stations_df.IdSensore.unique())

diffs = []
for u_d in unique_in_data:
    if u_d not in unique_in_stations:
        diffs.append(u_d)
diffs

[5983,
 22572,
 22573,
 22576,
 22579,
 22580,
 2491,
 2503,
 2611,
 4014,
 4022,
 4031,
 4039,
 5979,
 6044,
 6046,
 5981,
 6008,
 5987,
 5994,
 6029,
 6038,
 6063,
 6048,
 6788,
 6815,
 7025,
 6797,
 6825,
 22571,
 9862,
 9077,
 9761,
 9076,
 9328,
 9331,
 9741,
 9756,
 9757,
 9760,
 9758,
 9759,
 9763,
 9766,
 9765,
 9940,
 9931,
 10378,
 10557,
 10553,
 11756,
 11131,
 11132,
 11737,
 14082,
 11168,
 11167,
 11217,
 11818,
 11218,
 11734,
 11735,
 11736,
 11760,
 11739,
 4055,
 11757,
 11740,
 4062,
 4071,
 11742,
 11741,
 11743,
 4087,
 5126,
 11746,
 11745,
 11748,
 11747,
 11754,
 11749,
 11750,
 11752,
 11759,
 11755,
 11812,
 11758,
 11814,
 11763,
 11761,
 11815,
 11762,
 11811,
 11813,
 14083,
 14007,
 11817,
 14006,
 14031,
 14049,
 14065,
 14066,
 14363,
 14189,
 14113,
 14099,
 14100,
 14190,
 14232,
 14299,
 14216,
 14217,
 14237,
 14272,
 14251,
 14278,
 14576,
 14327,
 14358,
 14458,
 14382,
 14377,
 14411,
 14416,
 14509,
 14577,
 14459,
 14471,
 14472,
 14508,
 14554,
 14537,
 14536,
 14555,
 14703,
 14652,
 14641,
 14668,
 14595,
 14596,
 14640,
 14651,
 14669,
 14690,
 14715,
 14691,
 14702,
 14714,
 14731,
 14732,
 14748,
 14749,
 14772,
 14783,
 14773,
 14782,
 19100,
 19007,
 19115,
 19019,
 19004,
 19061,
 19097,
 19058,
 19106,
 19109,
 19103,
 19179,
 19160,
 19148,
 19159,
 19178,
 19408,
 19242,
 19341,
 19352,
 19340,
 19353,
 19382,
 19383,
 19395,
 19409,
 19396,
 19434,
 19436,
 22552,
 22553,
 32229,
 32228,
 1,
 2005,
 2003,
 2104,
 2048,
 2091,
 2117,
 2277,
 2141,
 2153,
 2194,
 2252,
 2383,
 2450,
 2407,
 2466,
 2442,
 2453,
 19045]

In [19]:
print(f'Sensors in list {len(unique_in_stations)}')
print(f'Unique in data {len(unique_in_data)}')
print(f'Difference {len(diffs)}')

Sensors in list 1248
Unique in data 1220
Difference 208

In [20]:
df.loc[df.IdSensore == 5983]

          IdSensore                Data  Valore  idOperatore Stato
3476           5983 2024-02-02 18:00:00    71.0            3    VA
3477           5983 2024-02-02 18:10:00    49.0            3    VA
3478           5983 2024-02-02 18:20:00    75.0            3    VA
3479           5983 2024-02-02 18:30:00    53.0            3    VA
3480           5983 2024-02-02 18:40:00    66.0            3    VA
...             ...                 ...     ...          ...   ...
37732405       5983 2024-02-02 17:10:00   241.0            3    VA
37732406       5983 2024-02-02 17:20:00   252.0            3    VA
37732407       5983 2024-02-02 17:30:00   252.0            3    VA
37732408       5983 2024-02-02 17:40:00   109.0            3    VA
37732409       5983 2024-02-02 17:50:00   114.0            3    VA

[12038 rows x 5 columns]

In [25]:
data_copy = df.copy()
for sensor in diffs:
    print(f'removing {sensor}')
    data_copy = data_copy.loc[data_copy['IdSensore'] != sensor]

removing 5983
removing 22572
removing 22573
removing 22576
removing 22579
removing 22580
removing 2491
removing 2503
removing 2611
removing 4014
removing 4022
removing 4031
removing 4039
removing 5979
removing 6044
removing 6046
removing 5981
removing 6008
removing 5987
removing 5994
removing 6029
removing 6038
removing 6063
removing 6048
removing 6788
removing 6815
removing 7025
removing 6797
removing 6825
removing 22571
removing 9862
removing 9077
removing 9761
removing 9076
removing 9328
removing 9331
removing 9741
removing 9756
removing 9757
removing 9760
removing 9758
removing 9759
removing 9763
removing 9766
removing 9765
removing 9940
removing 9931
removing 10378
removing 10557
removing 10553
removing 11756
removing 11131
removing 11132
removing 11737
removing 14082
removing 11168
removing 11167
removing 11217
removing 11818
removing 11218
removing 11734
removing 11735
removing 11736
removing 11760
removing 11739
removing 4055
removing 11757
removing 11740
removing 4062
removing 4071
removing 11742
removing 11741
removing 11743
removing 4087
removing 5126
removing 11746
removing 11745
removing 11748
removing 11747
removing 11754
removing 11749
removing 11750
removing 11752
removing 11759
removing 11755
removing 11812
removing 11758
removing 11814
removing 11763
removing 11761
removing 11815
removing 11762
removing 11811
removing 11813
removing 14083
removing 14007
removing 11817
removing 14006
removing 14031
removing 14049
removing 14065
removing 14066
removing 14363
removing 14189
removing 14113
removing 14099
removing 14100
removing 14190
removing 14232
removing 14299
removing 14216
removing 14217
removing 14237
removing 14272
removing 14251
removing 14278
removing 14576
removing 14327
removing 14358
removing 14458
removing 14382
removing 14377
removing 14411
removing 14416
removing 14509
removing 14577
removing 14459
removing 14471
removing 14472
removing 14508
removing 14554
removing 14537
removing 14536
removing 14555
removing 14703
removing 14652
removing 14641
removing 14668
removing 14595
removing 14596
removing 14640
removing 14651
removing 14669
removing 14690
removing 14715
removing 14691
removing 14702
removing 14714
removing 14731
removing 14732
removing 14748
removing 14749
removing 14772
removing 14783
removing 14773
removing 14782
removing 19100
removing 19007
removing 19115
removing 19019
removing 19004
removing 19061
removing 19097
removing 19058
removing 19106
removing 19109
removing 19103
removing 19179
removing 19160
removing 19148
removing 19159
removing 19178
removing 19408
removing 19242
removing 19341
removing 19352
removing 19340
removing 19353
removing 19382
removing 19383
removing 19395
removing 19409
removing 19396
removing 19434
removing 19436
removing 22552
removing 22553
removing 32229
removing 32228
removing 1
removing 2005
removing 2003
removing 2104
removing 2048
removing 2091
removing 2117
removing 2277
removing 2141
removing 2153
removing 2194
removing 2252
removing 2383
removing 2450
removing 2407
removing 2466
removing 2442
removing 2453
removing 19045

          IdSensore                Data  Valore  idOperatore Stato
0             14784 2023-11-18 18:50:00   327.0            1    VA
1             14784 2023-11-18 19:00:00   328.0            1    VA
2             14784 2023-11-18 19:10:00   330.0            1    VA
3             14784 2023-11-18 19:20:00   330.0            1    VA
4             14784 2023-11-18 19:30:00   329.0            1    VA
...             ...                 ...     ...          ...   ...
37780091       5861 2024-02-02 23:00:00     0.0            4    VA
37780092       5861 2024-02-02 23:10:00     0.0            4    VA
37780093       5861 2024-02-02 23:20:00     0.0            4    VA
37780094       5861 2024-02-02 23:30:00     0.0            4    VA
37780095       5861 2024-02-02 23:40:00     0.0            4    VA

[35331595 rows x 5 columns]

In [26]:
# 35331595 vs 37780096 
print(35331595 - 37780096)

-2448501

In [27]:
data_copy

          IdSensore                Data  Valore  idOperatore Stato
0             14784 2023-11-18 18:50:00   327.0            1    VA
1             14784 2023-11-18 19:00:00   328.0            1    VA
2             14784 2023-11-18 19:10:00   330.0            1    VA
3             14784 2023-11-18 19:20:00   330.0            1    VA
4             14784 2023-11-18 19:30:00   329.0            1    VA
...             ...                 ...     ...          ...   ...
37780091       5861 2024-02-02 23:00:00     0.0            4    VA
37780092       5861 2024-02-02 23:10:00     0.0            4    VA
37780093       5861 2024-02-02 23:20:00     0.0            4    VA
37780094       5861 2024-02-02 23:30:00     0.0            4    VA
37780095       5861 2024-02-02 23:40:00     0.0            4    VA

[35331595 rows x 5 columns]

In [28]:
def arrange_timestamp(date_time):
    return str(date_time)

In [37]:
base_url_measurements = "http://127.0.0.1:8000/api/collections/MeteoMeasurement/"

batch_size = 1000000
batches = math.ceil(len(data_copy) / batch_size)
print(f"Number of batches: {batches}")

for i in range(0, batches):
    body = {
        "bulk": True,
        "items": []
    }
    
    i_start = i * batch_size
    i_end = len(data_copy) if len(data_copy) <= (batch_size * (i+1)) else (batch_size * (i+1))
    
    print(f'from {i_start} to {i_end}')
    timeseries_subset = data_copy.iloc[i_start:i_end]
    timeseries_subset = timeseries_subset[['IdSensore','Data','Valore','idOperatore','Stato']]
    timeseries_subset['Data'] = timeseries_subset['Data'].apply(arrange_timestamp)
    timeseries_subset = timeseries_subset.replace({np.nan: None})
    
    for i, sensor in timeseries_subset.iterrows():
        item = { "sensor_id_id": sensor.IdSensore, "date": sensor.Data, "value": sensor.Valore , 'status': sensor.Stato, 'operative_id': sensor.idOperatore}
        body["items"].append(item)
        
    body_json = json.dumps(body)
    body_json
    req = requests.post(base_url_measurements, body_json)
    if req.status_code == 500:
        print(req)
    print(f'request {i} - {req.status_code}')

Number of batches: 36
from 0 to 1000000
request 1011456 - 200
from 1000000 to 2000000
request 2087470 - 200
from 2000000 to 3000000

KeyboardInterrupt: